/*--------------- common styles------------------------------------- */
* {
  font-family: "Work Sans", sans-serif;
  margin: 0;
}
.tittle {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}

.primary-btn,
.primary-batton {
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  font-size: 20px;
  padding: 20px 25px;
  background: #ff900e;
  border: 0;
  border-radius: 8px;
  width: 180px;
  height: 64px;
  text-align: center;
}
/*----------------------------- header section---------------------------- */
header {
  background: rgba(255, 144, 14, 0.1);
  width: 100%;
  height: 1050px;
  margin-bottom: 61px;
}
.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.tittle {
  margin-left: 240px;
}
.header-nav {
  margin-right: 240px;
}
.nav-name {
  margin-right: 30px;
  text-decoration: none;
  color: #424242;
  font-weight: 500;
  font-size: 18px;
}

/* ----------------------------Banner style ------------------------------------------*/
.banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: grid;
}
.banner-details {
  width: 862px;
  height: 225px;
  left: 350px;
}
.banner-title {
  color: #131313;
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  line-height: 75px;
  margin-bottom: 30px;
}

.banner-para {
  color: #727272;
  text-align: center;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 53px;
}
.primary-btn {
  position: relative;
  left: 350px;
  margin-bottom: 50px;
}
/* ------------------------------------banner img style--------------------------------------- */
.banner-image {
  width: 100%;
  height: 500px;
  border-radius: 8px;
  position: relative;
  left: 20px;
}

/*------------------------------------- feature section------------------------------------------ */
.feature-image {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 10px;
  column-gap: 10px;
}
.features {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.feature-img {
  width: 342px;
  height: 342px;
  border-radius: 8px;
}

.feature-details {
  position: relative;
  width: 537px;
  height: 304px;
  left: 50px;
}
/* -----------------------------------feature-title style------------------------------------------------ */
.A {
  color: #727272;
  font-weight: 500;
  font-size: 45px;
}
.B {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
}
.C {
  color: #ff900e;
  font-weight: 700;
  font-size: 45px;
}
/* ---------------------------features paragraph---------------------------------------------------------- */
.feature-details p {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
}
/*----------------------------------- btn----------------------------------------- */
.primary-batton {
  position: relative;
  left: 0;
}
/*------------------------------------------------------------------------------------------------------------- Features-you-will-lovesection----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.Features-you-will-love {
  display: flex;
  margin: 100px;
  width: 800px;
  height: 1000px;
  margin-bottom: 50px;
 
}
.info-container {
  width: 110%;
  height: 982px;
}
.headline {
  color: #131313;
  font-weight: 700;
  font-size: 45px;
  line-height: 35px;
}
.details {
  background: #ffffff;
  box-shadow: 0px 4px 30px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 586px;
  padding: 20px;
  margin-bottom: 5px;
}

.info-para,
.heading {
  color: #727272;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.architect-img {
  width: 100%;
  height: 1200px;
}
.secondary-button {
  font-weight: 700;
  font-size: 65px;
  line-height: 70px;
  text-align: center;
  color: #ffffff;
  padding: 42px;
  border: 0;
  background: #ff900e;
  border-radius: 8px;
  width: 342px;
  height: 200px;
  position: relative;
  top: -130px;
}
.btn {
  font-size: 25px;
  text-align: center;
}
/* --------------------------------some fact section---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */
.somefact {
  padding: 100px;
}
.fact-title {
  font-weight: 700;
  font-size: 45px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;

  color: #131313;
}
.paragraph {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;
  margin-bottom: 50px;
}
.box {
  display: flex;
  gap: 80px;
}
.achivement div {
  padding: 35px;
  width: 169px;
  height: 136.22px;
  text-align: center;
}
.achivement {
  width: 241.83px;
  height: 241.83px;
  border: 1px solid #ff900e;
  border-radius: 8px;
  display: inline-block;
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  transition-duration: 0.5s;
}
/* --------------------------animation section -------------------------------*/
.achivement:hover,
.hvr-bounce-in:focus,
.hvr-bounce-in:active {
  transform: scale(1.2);
  transition-timing-function:(0.47, 2.02, 0.31, 0.36);
}
.num {
  font-weight: 600;
  font-size: 30px;
  color: #424242;
}
.achive {
  font-weight: 600;
  font-size: 20px;

  color: #727272;
}
/*------------------------------------------------------------------------------------------------------------ sponser-style---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------- */

.sponser-info {
  width: 542px;
  height: 129px;
  padding-left: 500px;
  padding-right: 500px;
  margin-bottom: 50px;
}
.sponser-title {
  font-weight: 700;
  font-size: 45px;
  padding: 0;
  margin: 0;
  margin-bottom: 24px;
  color: #131313;
  text-align: center;
}
.sponser-para {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #727272;

  text-align: center;
}
.sponser {
  display: flex;
  gap: 120px;
  position: relative;
  left: 100px;
  margin-bottom: 80px;
}
.sponser-box {
  width: 153.33px;
  height: 50px;
}
/* ------------------------------------------------blogs section styles --------------------------------------*/
.blogs {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  margin-bottom: 50px;
}
.top-blogs {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  justify-content: center;
}
.blog-thumbnail img {
  width: 177px;
  height: 117px;
}
.blog-info {
  margin-left: 16px;
}
.blog-title {
  font-size: 20px;
}
.author {
  color: #9f9f9f;
  font-size: 16px;
}
.author a {
  text-decoration: none;
  color: #562eff;
  font-size: 16px;
}
/* --------------------------------------------------------footer section ----------------------------------*/
footer{
    margin-left: 100px;
    margin-right: 100px;
    
background: #FFF4E7;
border-radius: 8px;
}
.foter-para{
    font-weight: 400;
font-size: 20px;
line-height: 23px;
text-align: center;
color: #424242;
padding: 40px;
}

/* --------------------------------------------mobile device styles------------------------------ */

@media only screen and (max-width:576px) {
   .navigation{
flex-direction: column;

   } 
  .tittle{
    font-size: 40px;
    margin-left: 0;
  }
  .banner-title{
    font-size: 50px;
  }
  .heading p{
    font-size: 10px;
    margin-bottom: 30px;
  }
.banner,.banner-details{
    width: 100%;
    margin-bottom: 50px;
}
.banner-image{
    position: none;
    left: 0;
    height: 350px;
   
}
.primary-btn{
    position: none;
    left:80px;
}
.feature-image{
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 30px;

}
.feature-img{
    width: 80%;
}
.feature-title{
    margin-bottom: 30px;
}
.features{
    flex-direction: column;
}
.feature-details{
    position: relative;
    left:0;
    width: 80%;
    height: auto; 
}
.feature-details p{
    margin-bottom: 30px;
}
.Features-you-will-love{
    flex-direction: column;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
}
.architect-img {
    width: 80%;
    height:auto;
  }
  
  .info-container{
    width: 70%;
    height: auto;
    padding: 10px;
  }
  .details{
    width: 100%;
  }
  .somefact {
    padding: 20px;
  }
  .box{
    flex-direction: column;
  }
 .sponser{
    flex-direction: column;
 }

 .sponser-info {
    width: 80%;
    height: auto;
  padding-left: 10px;
  padding-right: 0;
  margin-bottom: 30px;
}
.sponser-title{
    position: relative;
    left:0;
}
.sponser-para{
    position: relative;
    left:0; 
}
.blogs{
    grid-template-columns: repeat(1,1fr);
    margin-bottom: 10px;
    
  }
.top-blogs{
    flex-direction: column;
  }
  .blog-info{
    margin-left: 0;
  }
  .footer{
 margin: 0;
    background: #FFF4E7;
    border-radius: 8px;
    width: 100%;
    height: auto;
  }
  .foter-para{
    font-weight:200;
font-size: 15px;
text-align: center;
color: #424242;
padding: 10px;
    
}
}